body {
    padding-top: 70px;
    padding-bottom: 30px;
  }
  
  .theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
  }
  
  .theme-showcase > p > .btn {
    margin: 5px 0;
  }
  
  .theme-showcase .navbar .container {
    width: auto;
  }

  .plantbox-remove:hover {
    color: red;
    cursor: pointer;
  }

  
  .plantbox-pencil:hover {
    color: green;
    cursor: pointer;
  }

  .arrow {
    margin: 0;
    padding-top: 66px;
  }

  .arrow:hover {
    cursor: pointer;
    color: gray;
  }

  .loader {
    position: relative;
    left: 50%;
    top: 50%;
    z-index: 1;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    margin: -60px 0 0 -60px;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
  }
  